@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;700;900&display=swap');
@import url('./reset.css');


:root {
  --primary: #00D2E0;
  --secondary: #34EA6E;
  --terciary: #9729F5;
  --background: #111827;
  --foreground: #F0F0F0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Red Hat Text';
}

h1{
  font-size: 48px;
  font-family: 'Red Hat Display';
  font-weight: 900;
  line-height: 1.4;
}

.lead {
  font-size: 20px;
}
